<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssm.test.mapper.CommentMapper">
  <resultMap id="BaseResultMap" type="com.ssm.test.domain.Comment">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="comment" jdbcType="VARCHAR" property="comment" />
    <result column="bookId" jdbcType="INTEGER" property="bookid" />
    <result column="userId" jdbcType="INTEGER" property="userid" />
    <result column="commentTime" jdbcType="TIMESTAMP" property="commenttime" />
  </resultMap>
  <resultMap id="comm_query" type="com.ssm.test.domain.CommentExam">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="comment" jdbcType="VARCHAR" property="comment" />
    <result column="bookId" jdbcType="INTEGER" property="bookid" />
    <result column="userId" jdbcType="INTEGER" property="userid" />
    <result column="commentTime" jdbcType="TIMESTAMP" property="commenttime" />
    <association property="user" javaType="user">
      <id column="userId" javaType="java.lang.Integer" property="id" />
      <id column="userName" javaType="java.lang.String" property="userName"/>
    </association>
    <association property="book" javaType="book">
      <id column="bookId" javaType="java.lang.Integer" property="id" />
      <id column="bookName" javaType="java.lang.String" property="bookname"/>
    </association>
  </resultMap>
  <sql id="Base_Column_List">
    id, comment, bookId, userId, commentTime
  </sql>

  <!--根据用户id查询评论(带书)-->
  <select id="selectByUserId" parameterType="java.lang.Integer" resultMap="comm_query">
      SELECT comm.*,book.id booId,book.bookName FROM
      COMMENT comm LEFT JOIN book
      ON book.id=comm.`bookId`
      WHERE comm.userId=#{id}
      ORDER BY commentTime DESC
      LIMIT 0,5
  </select>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from comment
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from comment
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ssm.test.domain.Comment">
    insert into comment (id, comment, bookId, 
      userId)
    values (#{id,jdbcType=INTEGER}, #{comment,jdbcType=VARCHAR}, #{bookid,jdbcType=INTEGER}, 
      #{userid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.ssm.test.domain.Comment">
    insert into comment
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="comment != null">
        comment,
      </if>
      <if test="bookid != null">
        bookId,
      </if>
      <if test="userid != null">
        userId,
      </if>
      <if test="commenttime != null">
        commentTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="comment != null">
        #{comment,jdbcType=VARCHAR},
      </if>
      <if test="bookid != null">
        #{bookid,jdbcType=INTEGER},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="commenttime != null">
        #{commenttime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ssm.test.domain.Comment">
    update comment
    <set>
      <if test="comment != null">
        comment = #{comment,jdbcType=VARCHAR},
      </if>
      <if test="bookid != null">
        bookId = #{bookid,jdbcType=INTEGER},
      </if>
      <if test="userid != null">
        userId = #{userid,jdbcType=INTEGER},
      </if>
      <if test="commenttime != null">
        commentTime = #{commenttime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ssm.test.domain.Comment">
    update comment
    set comment = #{comment,jdbcType=VARCHAR},
      bookId = #{bookid,jdbcType=INTEGER},
      userId = #{userid,jdbcType=INTEGER},
      commentTime = #{commenttime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>